
<meta charset="UTF-8">
<title>MBM - Biomedical Maintenance International</title>



<!-- Header Component -->
<div class="header">
  <div class="header-content">
    <img class="im1" src="../assets/logo.jpg" alt="MBM Logo">
    <div class="nav-links">
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign Up</a>
      <a href="#id3">About Us</a>
      <a href="#id4">Our Products</a>
      <a href="#id2">Services</a>
      <a href="#id1">Contact Us</a>
      <div class="home-container">
      
      </div>
    
    </div>
  </div>
</div>
  

 <video class="responsive-video" autoplay loop muted>
  <source src="assets\vd1.mp4" type="video/mp4">
</video>
 
<!-- About Section -->
<section id="id3" class="about">
  <h2  class="abt">About Us</h2>
  <p>
    <strong>We, La Maintenance Biomédicale – INTERNATIONAL, are a distributor of medical equipment on the Tunisian market and in several African countries.
      <br>
      We are partners with manufacturers of medical equipment, particularly those specializing in operating room equipment.
      </strong>
    
  </p>
  <img class="im2" src="../assets/ki.jpg" alt="About MBM">
</section>

<!-- Featured Products Section -->
<section id="id4" class="featured-products">
  <h2> Products</h2>
  <div class="products-list">
    <div class="product-card">
      <img src="../assets/vv.jpg" alt="Surgical Table">
      <h3>Conventional Operating Rooms</h3>
     
    </div>
   
    <div class="product-card">
      <img src="../assets/image001.jpg" alt="Stethoscope">
      <h3>Hybrid Rooms</h3>
    </div>
   
    <div class="product-card">
      <img src="../assets/pic2.jpg" alt="Stethoscope">
      <h3>operating table</h3>
    </div>
    
    <div class="product-card">
      <img src="../assets/55.jpg" alt="Stethoscope">
      <h3>Surgical Lights</h3>
     
    </div>
    <div class="product-card">
      <img src="../assets/12.jpg" >
      <h3>pendants</h3>
    </div>
    <div class="product-card">
      <img src="../assets/op.jpeg" alt="Stethoscope">
      <h3>Per-Operative echography</h3>
    </div>
    <div class="product-card">
    
      <img src="../assets/incu.png" alt="Ultrasound Machine">
      <h3> incubator</h3>
    </div>
    <div class="product-card">
      <img src="../assets/lx19.jpg" alt="Stethoscope">
      <h3>Ultrasound Machines</h3>
    </div>
    <div class="product-card">
      <img src="../assets/image005.jpg" alt="Fetal Monitor">
      <h3>hemodynamic and analgesia monitoring </h3>
      
    </div>
    <div class="product-card">
    
      <img src="../assets/imk4.png" alt="Microscope">
      <h3>Anesthesia ventilator</h3>
    </div>
    
    <div class="product-card">
      <img src="../assets/11.jpg" >
      <h3>ICU Ventilator</h3>
    </div>
    <div class="product-card">
      <img src="../assets/image009.png" alt="Stethoscope">
      <h3>neonatal ICU ventilator</h3>
    </div>
    <div class="product-card">
      <img src="../assets/imm.jpeg" alt="Stethoscope">
      <h3>steam sterilyzer </h3>
    </div>
    
   
  </div>
</section>

<!-- Services Section -->
<section  id="id2" class="services">
  <h2>Our Services</h2>
  <ul>
    <li>Provision of high-quality medical equipment</li>
    <li>After-sales services</li>
   
  </ul>
</section>

<!-- Contact Section -->
<section id="id1" class="contact">
  <h2>Contact Us</h2>
  <p>Need more information? Feel free to contact us :</p>
  <ul>
    <li>
        <i class="fa-solid fa-envelope"></i>
          <strong>Email:</strong> sales.mbm&#64;gnet.com / contact&#64;mbm-int.tn
        </li>
             
   
     
    
    <li>
      <i class="fa-solid fa-phone"></i>
      <strong>Phone:</strong>+216 71 428 718 / +216 71 427 641
    </li>
    <li>
      <i class="fa-solid fa-location-pin"></i>
      <strong>Address:</strong> Rue El Khoutaf 2033 Mégrine, Ben Arous
    </li>
  </ul>
  
</section>

<!-- Footer -->
<footer>
  <p> 2025 MBM. All rights reserved.</p>
</footer>

